<!DOCTYPE html>
<html>
   <body>
      <h2>Order Form</h2>
      <form action="/generate" method="post">
         <h4>Sender</h4>
         <input name="senderName" placeholder="Sender Name" required><br>
         <textarea name="senderAddress" placeholder="Sender Address" required></textarea><br>
         <h4>Receiver</h4>
         <input name="receiverName" placeholder="Receiver Name" required><br>
         <textarea name="receiverAddress" placeholder="Receiver Address" required></textarea><br>
         <button type="submit">Confirm</button>
      </form>
   </body>
</html>